<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="MyConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=VidiaProd;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>